@import url("https://fonts.googleapis.com/css2?family=Asap:ital,wght@1,400;1,600&display=swap");

html {
  height: 100%;
  width: 100%;
  text-align: center;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Asap", sans-serif;
}

body {
  font-family: "Asap", sans-serif;
  background-image: linear-gradient(
    to bottom right,
    rgb(0, 69, 211),
    rgb(124, 152, 209)
  );
  margin: 0px;
  text-align: center;
  font-size: 18px;
  height: 100%;
}

.btn {
  border-radius: 10%;
  border: none;
  width: 70px;
  padding: 5px 10px;
}
