{% extends 'base.html' %}

{% block head %}

<title>Dashboard</title>


{% endblock %}





{% block heading %}
<h1 class="heading">Sensors</h1>
{% endblock %}




{% block body %}


<div class="maincontainer">

    <div class='sec-sensor'>
        <table>
        <tr>
            <th>Sensor</th>
            <th>Typ</th>
            <th>Wert</th>
        </tr>
        {% for i in range(l) %}
            <tr>
                <th>{{sensors[i]}}</th>
                <th>{{types[i]}}</th>
                <th>{{values[i]}}</th>
            </tr>
        {% endfor %}
        </table>
    </div> 

    <div class='sec-etc'>
        <form action="{{ url_for('views.dashboard') }}" method="post">
            <button type="submit">reload</button>
        </form>
    </div>

</div>



{% endblock %}
