{% extends 'base.html' %}




{% block head %}
<title>Login-Page</title>
{% endblock %}





{% block heading %}
<h1 class="heading">Login</h1>
{% endblock %}





{% block body %}
<h2 class="login-heading">Please Login</h2>
<div class="login-formgroup">
    <form method="post" action="{{ url_for('auth.login') }}">
        <label for="email">Email:</label>
        <input name="email" type="text"></inpu>
        <label for="password">Password:</label>
        <input name="password" type="password" placeholder="Enter password"></input>
</div>
        <button class="login-form-btn" type="submit">Login</button>
    </form>
    <form method="get" action="{{  url_for('auth.sign_up')}}">
        <button class="signup-form-btn">Signup</button>
    </form>
{% endblock %}
   
